.page_content {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/images/bg/hero-bg.png) center center no-repeat;
  background-color: rgb(232 238 241);
  background-size: cover;
  background-attachment: scroll;
}

.auth-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.auth-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
  }

  .auth-left,
  .auth-right {
    flex: unset;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .auth-left img {
    max-width: 90%;
    margin-bottom: 20px;
  }
}
